body{
    color: blue;
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
border: violet;
}

#cabecera{
    background: grey;
    color: black;
    width: 200px;
    
}