body{
    color: green;
    text-align: center ;
    font-family: Courier, monospace, Helvetica, sans-serif;
}

.container{
border: violet;
}

#cabecera{
    background: grey;
    color: black;
    width: 200px;
    
}